<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Page</title>
</head>
<body>

<h1>Hello {{currentUser.name}}! Welcome on the board!</h1>

<h3>My info:</h3>
    <div>Name - {{currentUser.name}}</div>
    <div>Age - {{currentUser.age}}</div>
    <div>Email - {{currentUser.email}}</div>
    <hr>
<a href="http://localhost:5000/users">
    <button>Show All users</button>
</a>


</body>
</html>